.container {
    background-image:url("https://images.pexels.com/photos/8828413/pexels-photo-8828413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-decoration: none;
   
   
 }
.homeContainer {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr;
        grid-column-gap: 150px;
        grid-row-gap: 10px;
        }

.cardCatalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    border-left: 15px double blue;
    margin-top: 40px;
    z-index: 1;
    }

.filterContainer{
    border-top: 0px double blue;
    border-right: 5px double blue;    
}

.positionFixed{
    position: fixed;
    z-index: 100;
}

.paginate{
    text-align: center;
} 
