.cardContainer{
height: 450px;
width: 400px;
background-color: rgba(201, 198, 198, 0.53);
margin: 10px;
cursor: pointer;
}
.cardContainer:hover{
    background-color: rgba(95, 90, 90, 0.716);
    cursor: pointer;
   
}
.cardTitle{
    margin: 10px;
}

.cardSubTitle{
    margin: 10px;
    color: rgb(93, 91, 91);
}

.cardId{
    text-align: end;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
} 
